<div class="recipe-list">
    <h1>Latest Recipes</h1>
    
    {{#if recipes.length}}
        {{#each recipes}}
        <article class="recipe-card">
            <h2><a href="/recipe/{{slug}}">{{title}}</a></h2>
            <p class="date">{{formatDate date}}</p>
            
            <div class="tags">
                {{#each tags}}
                 <!-- href="/tag/{{this}}" --> 
                <a href="#"class="tag">{{this}}</a>
                {{/each}}
            </div>
            
            <p>{{description}}</p>
            
            <a href="/recipe/{{slug}}" class="read-more">View Recipe</a>
        </article>
        {{/each}}
    {{else}}
        <p>No recipes found. Add your first recipe to get started!</p>
    {{/if}}
</div>