<div class="recipe">
    <div class="recipe-header">
        <h1>{{recipe.title}}</h1>
        <p class="date">Published on {{formatDate recipe.date}}</p>

        <div class="tags">
            {{#each recipe.categories}}
            <a href="#" class="tag category">{{this}}</a>
            {{/each}}

            {{#each recipe.tags}}
            <a href="/tag/{{this}}" class="tag">{{this}}</a>
            {{/each}}
        </div>
    </div>

    <div class="recipe-meta">
        {{#if recipe.prepTime}}
        <div class="prep-time">
            <strong>Prep Time:</strong> {{recipe.prepTime}}
        </div>
        {{/if}}

        {{#if recipe.cookTime}}
        <div class="cook-time">
            <strong>Cook Time:</strong> {{recipe.cookTime}}
        </div>
        {{/if}}

        {{#if recipe.servings}}
        <div class="servings">
            <strong>Servings:</strong> {{recipe.servings}}
        </div>
        {{/if}}
    </div>

    {{#if recipe.description}}
    <div class="description">
        <p>{{recipe.description}}</p>
    </div>
    {{/if}}

    <div class="recipe-body">
        {{{recipe.body}}}
    </div>
</div>